<h1>Christmas Cheer</h1>
<p class="signed-in-as">Signed in as <%= Current.user.email_address %>.</p>

<nav class="main-menu" aria-label="Main menu">
  <ul>
    <li class="menu-item">
      <%= link_to "Donors", donors_path, class: "menu-item__label" %>
    </li>
  </ul>
</nav>

<%= button_to "Sign out", session_path, method: :delete %>
